# Node / React
node_modules/
dist/
.vscode/
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Local backup folders 
local-backup/
EchoMap-Dashboard-Backup/

# Build/cache files
coverage/
.cache/